.whiteBackground{
	background-color: #FFFFFF;	
	padding-top: 70px;
}

h1.dh{
	font-family: "Calibri";
	color: green;
}

h2.dh{
	font-family: "Calibri";
	color: green;
}

h2.dh{
	font-family: "Calibri";
	color: green;
}


a.navbar-brand.invdh{
		
	background-color: green;	
	font-family: "Calibri";
	color: white;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 30px;	
}


nav.navbar.navx{
	 width: 100%;
     position: absolute;
     top: 0;
}

tbody.ha{
	border-bottom: 1px solid #000; 
	border-top: 1px solid #000;
}

#navbarDropdown:focus
{
  color: white;
  background-color: green;
  border-color: #fff;
}

a.nav-link:focus
{	
  color: white;
  background-color: green;
  border-color: #fff;	
}

.autoimg {
    max-width: 100%;
    max-height: 100%;
}


.left
{
  float: left;
}

.right
{
  float: right;
}


.alignRight {
	text-align: right;	
}

.alignLeft {
	text-align: left;
}


.align-items-center-left {
  display: flex; 
  align-items: center;  /*Aligns vertically center */
  justify-content: flex-start; /*Aligns horizontally center */
}

.align-items-center-right {
  float: right;
  display: flex; 
  align-items: center;  /*Aligns vertically center */
  justify-content: flex-end; /*Aligns horizontally center */
}


.summaryBorder{
	border-radius: 25px;
	border: 1px solid grey;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.responsive {
	width: 100%;
	height: auto;
}

.responsive2 {
	width: 80%;
	height: auto;
}

